.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Kunena table,
#Kunena tr,
#Kunena td,
#Kunena th,
#Kunena div,
#Kunena fieldset,
#Kunena span,
#Kunena li,
#Kunena dt,
#Kunena legend {
  border-color: #dddddd !important;
}
#Kunena legend {
  color: inherit;
}
#Kunena table {
  background: transparent;
}
#Kunena tr {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#Kunena tr:hover {
  background: #f5f5f5;
}
#Kunena tr:nth-child(odd) {
  background: #f9f9f9;
}
#Kunena tr:hover {
  background: #f5f5f5 !important;
}
#Kunena tr,
#Kunena td {
  border-bottom: 1px solid;
}
#Kunena dt {
  font-weight: normal;
}
#Kunena select,
#Kunena button {
  margin-bottom: 9px;
}
#Kunena a.close,
#Kunena a.open {
  background-color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#Kunena a.close:hover,
#Kunena a.open:hover {
  background-color: #c4c4c4;
}
#Kunena #ktab li {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: -1px !important;
  border: 1px solid;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: #f7f7f7;
}
#Kunena #ktab li#current,
#Kunena #ktab li:hover {
  background: #f6f6f6;
  border-bottom-color: #f6f6f6 !important;
}
#Kunena #ktab li#current a,
#Kunena #ktab li:hover a {
  color: #333333;
}
#Kunena .kunena_body {
  background: #f6f6f6;
  padding: 8px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0 4px 4px;
  -moz-border-radius: 0 4px 4px;
  border-radius: 0 4px 4px;
}
#Kunena .kforum-pathway .path-element {
  position: relative;
}
#Kunena .kforum-pathway .path-element:before {
  position: absolute;
  left: 1px;
  top: 50%;
  border-left: 4px solid #aaaaaa;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
  margin-top: -4px;
}
#Kunena form {
  margin: 0px;
}
#Kunena form.kuena_form {
  margin: 8px;
}
#Kunena .kicon-button span span {
  color: #fff;
}
#Kunena div.kmessage-editmarkup-cover {
  border: none;
}
#Kunena .kwho-admin,
#Kunena a.kwho-admin {
  color: #f00 !important;
}
#Kunena a.kwho-admin:hover,
#Kunena a.kwho-globalmoderator:hover,
#Kunena a.kwho-moderator:hover,
#Kunena a.kwho-banned:hover,
#Kunena a.kwho-user:hover,
#Kunena a.kwho-guest:hover {
  text-decoration: underline !important;
}
#Kunena .kwho-globalmoderator,
#Kunena a.kwho-globalmoderator {
  color: #800000 !important;
}
#Kunena .kwho-moderator,
#Kunena a.kwho-moderator {
  color: #00f !important;
}
#Kunena .kwho-banned,
#Kunena a.kwho-banned {
  color: #A39D49 !important;
}
#Kunena .kwho-user,
#Kunena a.kwho-user {
  color: #5388B4 !important;
}
#Kunena .kwho-guest,
#Kunena a.kwho-guest {
  color: #666 !important;
}
#Kunena label {
  display: inline;
}
#Kunena .kblock div.kheader {
  padding-top: 10px;
  padding-bottom: 10px;
}
#Kunena div.input,
#Kunena span.input,
#Kunena td.input {
  padding: 10px 0 5px;
  display: inline-block;
  max-width: 100%;
}
#Kunena div.input input,
#Kunena span.input input,
#Kunena td.input input {
  margin-right: 5px;
}
#Kunena div.input span,
#Kunena span.input span,
#Kunena td.input span {
  display: block;
  padding: 10px 0 0;
  white-space: nowrap;
}
#Kunena div.input span label,
#Kunena span.input span label,
#Kunena td.input span label {
  display: inline-block;
  margin-bottom: 10px;
}
#Kunena div.input span button,
#Kunena span.input span button,
#Kunena td.input span button {
  float: right;
  margin-right: 5px;
}
#Kunena .klink-block span {
  padding: 0 5px 0 0;
}
#Kunena .klink-block span.kprofilebox-register {
  display: block;
  padding: 5px 0 0;
}
#Kunena #jumpto .kright {
  display: block;
}
#Kunena #jumpto .btn-primary {
  width: auto;
}
