.sequence-slider {
    height: 0px;
    margin: 0;
    position: relative; /* required */
    width: 100%;
    background: url(../images/loaders/puff.svg) 50% 50% no-repeat #fafafa;
}
.sequence-slider.loaded{
	background: #fff;
}
.sequence-slider.sequence-thumbnails{
	margin-bottom: 120px;
}

.sequence-slider > .sequence-canvas{
	overflow: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
}

.sequence-slider > .sequence-canvas > li { /* required */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sequence-slider > .sequence-canvas li > * {  /* required */
    position: absolute;
}

.sequence-slider > .sequence-canvas li .lazy_container{
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0;
	height: 100%;
	overflow: hidden;
	top: 0;
	background: #fafafa;
	width: 100% !important;
}

.sequence-slider > .sequence-canvas li .lazy_container .lazy_preloader{
	top: 0;
	left: 0;

}
.sequence-slider > .sequence-canvas li .lazy_container .slide-img{
	top: 0;
	left: 0;
	height: auto;
}

.sequence-slider > .sequence-canvas li.animate-in .lazy_container{
	opacity: 1;
}

.sequence-slider > .sequence-canvas li.animate-out .lazy_container{
	opacity: 0;
}

.sequence-slider > .sequence-canvas li > .info{
	font-size: 0;
	line-height: 0;
	text-transform: uppercase;
	color: #fff;
	top: 0px;
	height: 100%;
	width: 1170px;
	z-index: 10;
	margin-left: -585px;
	opacity: 0;
	-webkit-transition: opacity .8s ease 2s;
	-moz-transition: opacity .8s ease 2s;
	-ms-transition: opacity .8s ease 2s;
	-o-transition: opacity .8s ease 2s;
	transition: opacity .8s ease 2s;
}

.sequence-slider > .sequence-canvas li > .info:before{
	display: inline-block;
	height: 100%;
	width: 0;
	content: '';
	vertical-align: middle;
	overflow: hidden;
}

.sequence-slider > .sequence-canvas li > .info .camera_caption {
	display: inline-block;
	vertical-align: middle;
	margin-top: -10%;
	max-width: 100%;
	font-size: 25px;
	line-height: 40px;
	font-weight: 300;
	max-width: 50%;
	text-align: left;
}

.sequence-slider > .sequence-canvas li > .info .slide-title{
	position: relative;
	left: -150%;
	font-weight: 600;
	-webkit-transition: left 1.5s ease;
	-moz-transition: left 1.5s ease;
	-ms-transition: left 1.5s ease;
	-o-transition: left 1.5s ease;
	transition: left 1.5s ease;
}



.sequence-slider > .sequence-canvas li > .info p{
	position: relative;
	left: -150%;
	padding: 0;
	-webkit-transition: left 1.5s ease .3s;
	-moz-transition: left 1.5s ease .3s;
	-ms-transition: left 1.5s ease .3s;
	-o-transition: left 1.5s ease .3s;
	transition: left 1.5s ease .3s;
}

.sequence-slider > .sequence-canvas li > .info .btn-info{
	line-height: 60px;
	font-size: 20px;
	height: 60px;
	font-weight: 300;
	font-family:'Roboto',san-serif;
	padding: 0 50px;
	white-space: nowrap;
	position: relative;
	left: -150%;
	max-width: 100%;
	width: auto;
	-webkit-transition: left 1.5s ease .6s, background .5s ease;
	-moz-transition: left 1.5s ease .6s, background .5s ease;
	-ms-transition: left 1.5s ease .6s, background .5s ease;
	-o-transition: left 1.5s ease .6s, background .5s ease;
	transition: left 1.5s ease .6s, background .5s ease;
}
.sequence-slider > .sequence-canvas li.animate-in .info{
	opacity: 1;
	-webkit-transition: opacity .8s ease 1s;
	-moz-transition: opacity .8s ease 1s;
	-ms-transition: opacity .8s ease 1s;
	-o-transition: opacity .8s ease 1s;
	transition: opacity .8s ease 1s;
}
.sequence-slider > .sequence-canvas li.animate-out .info{
	opacity: 0;
	-webkit-transition: opacity .8s ease 0s;
	-moz-transition: opacity .8s ease 0s;
	-ms-transition: opacity .8s ease 0s;
	-o-transition: opacity .8s ease 0s;
	transition: opacity .8s ease 0s;
}
.sequence-slider > .sequence-canvas li.animate-in > .info .btn-info{
	left: 0;
	-webkit-transition: left 1.5s ease .6s, background .5s ease;
	-moz-transition: left 1.5s ease .6s, background .5s ease;
	-ms-transition: left 1.5s ease .6s, background .5s ease;
	-o-transition: left 1.5s ease .6s, background .5s ease;
	transition: left 1.5s ease .6s, background .5s ease;
}
.sequence-slider > .sequence-canvas li.animate-out > .info .btn-info{
	left: -150%;
	-webkit-transition: left 1.5s ease 1s, background .5s ease;
	-moz-transition: left 1.5s ease 1s, background .5s ease;
	-ms-transition: left 1.5s ease 1s, background .5s ease;
	-o-transition: left 1.5s ease 1s, background .5s ease;
	transition: left 1.5s ease 1s, background .5s ease;
}
.sequence-slider > .sequence-canvas li.animate-in .info .slide-title {
	left: 0;
	-webkit-transition: left 1.5s ease;
	-moz-transition: left 1.5s ease;
	-ms-transition: left 1.5s ease;
	-o-transition: left 1.5s ease;
	transition: left 1.5s ease;
}
.sequence-slider > .sequence-canvas li.animate-out .info .slide-title {
	left: -150%;
	-webkit-transition: left 1.5s ease 1s;
	-moz-transition: left 1.5s ease 1s;
	-ms-transition: left 1.5s ease 1s;
	-o-transition: left 1.5s ease 1s;
	transition: left 1.5s ease 1s;
}
.sequence-slider > .sequence-canvas li.animate-in .info p {
	left: 0;
	-webkit-transition: left 1.5s ease .3s;
	-moz-transition: left 1.5s ease .3s;
	-ms-transition: left 1.5s ease .3s;
	-o-transition: left 1.5s ease .3s;
	transition: left 1.5s ease .3s;
}
.sequence-slider > .sequence-canvas li.animate-out .info p {
	left: -150%;
	-webkit-transition: left 1.5s ease 1s;
	-moz-transition: left 1.5s ease 1s;
	-ms-transition: left 1.5s ease 1s;
	-o-transition: left 1.5s ease 1s;
	transition: left 1.5s ease 1s;
}

.sequence-prev,
.sequence-next{
	position: absolute;
	top: 50%;
	margin-top: -63px;
	height: 126px;
	width: 63px;
	cursor: pointer;
	z-index: 100;
}
.sequence-prev{
	left: 40px;
}
.sequence-next{
	right: 40px;
}
.sequence-prev:before,
.sequence-next:before,
.sequence-prev:after,
.sequence-next:after{
	transition: all 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
}
.sequence-prev:before,
.sequence-next:before{
	opacity: 1;
}
.sequence-prev:hover:before,
.sequence-next:hover:before{
	opacity: 0;
}
.sequence-prev:hover:after,
.sequence-next:hover:after{
	opacity: 1;
}
.sequence-prev:before{
	background: url(../images/slider_nav.png) left top;
}
.sequence-prev:after{
	background: url(../images/slider_nav.png) left bottom;
}
.sequence-next:before{
	background: url(../images/slider_nav.png) right top;
}
.sequence-next:after{
	background: url(../images/slider_nav.png) right bottom;
}

.sequence-pagination-wrapper{
	position: absolute;
	top: 100%;
	margin: 0;
	margin-top: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.sequence-pagination.sequence-thumbnails{
	display: table;
	max-width: 100%;
	margin: 0 auto;
}
.sequence-pagination li{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #000;
	cursor: pointer;
	overflow: hidden;
	text-indent: 9999px;
	margin: 0 5px;
}
.sequence-pagination li:hover,
.sequence-pagination li.current{
	background: #555;
}
.sequence-pagination.sequence-thumbnails li{
	text-indent: 0;
	width: auto;
	height: auto;
	margin: 0;
	border-radius: 0;
	overflow: visible;
	display: table-cell;
	background: none !important;
	vertical-align: top;
}
.sequence-pagination.sequence-thumbnails li+li{
	padding: 0 0 0 10px;
}
.sequence-pagination.sequence-thumbnails li img{
	width: 100%;
	vertical-align: top;
}

.sequence-preloader {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999999;
}

@keyframes preload {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sequence-preloader .preloading .circle {
    fill: #ff9442;
    display: inline-block;
    height: 12px;
    position: relative;
    top: -50%;
    width: 12px;
    animation: preload 1s infinite;
}

.preloading {
    display: block;
    height: 12px;
    margin: 0 auto;
    top: 50%;
    margin-top: -6px;
    position: relative;
    width: 48px;
}

.sequence-preloader .preloading .circle:nth-child(2) {
    animation-delay: .15s;
}

.sequence-preloader .preloading .circle:nth-child(3) {
    animation-delay: .3s;
}

.preloading-complete {
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s;
}

div.inline{
    background-color: #ff9442;
    margin-right: 4px;
    float: left;
}